/* Small devices (portrait phones, up to 576px) */

@media (max-width: 575px) {
    /* Set the font size of 'a' tag in the overlay class */
    .overlay a {
        font-size: 20px
    }
    /* Set 10% margin top to elements with id drivers  */
    #drivers {
        margin-top: 10%;
    }
    /*  Change the font size, how far from the top and 
        right to be the absolute position of the close
        button of the overlay */
    .close-btn {
        font-size: 20px;
        top: 15px;
        right: 35px;
    }
    /* Set 80px margin top of the 3 buttons in the drivers pages */
    #driver-nav {
        margin-top: 80px;
    }
    /* Hide the vertical line in the contact page */
    .vertical-line {
        display: none;
    }
    /*  Set margin top, height, style, color and 
        width of a horizontal line */
    hr {
        margin-top: 1%;
        border: 1px solid #708f2b;
        width: 300px;
    }
    /* Set margin top of the whole contact page */
    .contact {
        margin-top: 20%;
    }
    /* Decrease the padding top of the contact form */
    #contact-form {
        padding-top: -3%;
    }
    /*  Set margin left and bottom of the contact 
        details in contact page */
    #contact-details {
        margin-left: auto;
        margin-bottom: 4%;
    }
    /*  Set 20% margin top of elements with 
        id first-track inside track class */
    .tracks #first-track {
        margin-top: 20%;
    }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    /*  Specifies the handling of overflow in the 
        vertical direction of drivers overlay */
    .overlay {
        overflow-y: auto;
    }
    /* Set the font size of 'a' tag in the overlay class */
    .overlay a {
        font-size: 20px
    }
    /*  Change the font size, how far from the top and 
        right to be the absolute position of the close
        button of the overlay */
    .overlay .close-btn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    /* Set 80px margin top of the 3 buttons in the drivers pages */
    #driver-nav {
        margin-top: 80px;
    }
    /* Hide the vertical line in the contact page */
    .vertical-line {
        display: none;
    }
    /*  Set margin top, height, style, color and 
        width of a horizontal line */
    hr {
        margin-top: 1%;
        border: 1px solid #708f2b;
        width: 500px;
    }
    /* Set 20% margin top to elements with clsses contact and tracks  */
    .contact, .tracks {
        margin-top: 20%;
    }
    /* Decrease the padding top of the contact form */
    #contact-form {
        padding-top: -3%;
    }
    /*  Set margin left and bottom of the contact 
        details in contact page */
    #contact-details {
        margin-left: auto;
        margin-bottom: 4%;
    }
    /*  Set 10% margin top of elements with 
        id first-track inside track class */
    .tracks #first-track {
        margin-top: 10%;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    /* Set 5% margin top of the card class */
    .card {
        margin-top: 5%;
    }
    /* Display vertical line */
    .vertical-line {
        display: block;
    }
    /* Hide horizontal line */
    hr {
        display: none;
    }
    /* Set 15% margin top to elements with clsses contact and tracks  */
    .contact, .tracks {
        margin-top: 15%;
    }
}

/* Medium devices (tablets, 991px and less) */

@media (max-width: 991px) {
    /* Set 3% margin top of close class */
    .close {
        margin-top: 3%;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    /* Set 10% margin top to elements with clsses contact and tracks  */
    .contact, .tracks {
        margin-top: 10%;
    }
}

/* Specifies a font family name and change background colour of the body class */

body {
    font-family: 'Lato', sans-serif;
    background-color: #d6d429;
}

/*--------------------------------------------------------------
    Navbar                                             
-------------------------------------------------------------- */

/* Change the text and background colour of the navbar class  */

.navbar {
    color: #242424;
    background-color: #242424;
}

/* Set logo height */

#logo {
    height: 50px;
}

/* Path of the hamburger icon */

.navbar-toggler-icon {
    background-image: url("../images/hamburger-icon.png");
}

/*  Change the font size, text colour, position and remove any decorations
    of the navbar nav items */

.navbar a {
    font-size: 20px;
    color: #708f2b;
    text-align: center;
    text-decoration: none;
}

/* Set background colour of a nav item*/

.active a {
    background-color: #d6d429;
}

/* Hover effect change the background colour of the nav item */

.nav-item a:hover {
    background-color: #d6d429;
}

/*--------------------------------------------------------------
    Drivers overlay                                              
-------------------------------------------------------------- */

/* override the bootstrap 4 class overlay */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: #242424;
    background-color: rgba(24, 24, 24, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
    margin-top: 5%;
}

/* override the bootstrap 4 class overlay-content */
.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

/*  Change the font size, how far from the top and 
    right to be the absolute position and the text 
    colour of the close button in the overlay */
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #708f2b;
}

/* Allow scrolling when the overlay is open/active */
.overlay {
    overflow-y: scroll;
}

/*--------------------------------------------------------------
    Index page carousel                                              
-------------------------------------------------------------- */

#main-carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* change the background-color of the carousel */
.carousel-container {
    background-color: #242424;
}

/* Hover effect set 0.5 opacity of the carousel items */
#main-carousel-item:hover {
    opacity: 0.5;
}

/* change the background color of the carousel indicators*/
.carousel-indicators li {
    background-color: #708f2b;
}

/* change the background color of the active carousel indicator*/
.carousel-indicators .active {
    background-color: #d6d429;
}

/* change the background and text color of the about section*/
#about {
    background-color: #242424;
    color: #d6d429;
}

/* Change text color of the p tags in the about section */
#about p {
    color: #708f2b;
}

/* change the background and text color of the top drivers section*/
#top-drivers {
    background-color: #d6d429;
    color: #242424;
}

/*--------------------------------------------------------------
    Footer                                              
-------------------------------------------------------------- */

/* change the background and text color of the footer*/
footer {
    background-color: #242424;
    color: #d6d429;
}

/* change the color, position and remove any decorations of 'a' tags in the footer*/
footer a {
    color: #708f2b;
    text-align: center;
    text-decoration: none;
}

/* Set 12px padding and change the color of the span tag in the footer */
footer span {
    padding: 12px;
    color: #708f2b;
}

/* Change the colour and size of the icons */
footer i {
    color: #d6d429;
    size: 10px;
}

/*--------------------------------------------------------------
    Override btn class                                              
-------------------------------------------------------------- */

.btn {
    padding-top: 0;
    padding-bottom: 0;
}

.btn:hover {
    color: #d6d429;
}

.btn-primary {
    background-color: #d6d429;
    border: none;
}

.btn-primary:hover {
    background-color: #708f2b;
}

.btn-primary:disabled {
    background-color: #708f2b;
}

/*--------------------------------------------------------------
    Driver page                                              
-------------------------------------------------------------- */

.driver-body {
    background-color: #242424;
}

#driver-details {
    padding-top: 1%;
    display: none;
}

#driver-details img {
    width: 100%;
    padding: 1%;
}

.driver-title {
    margin-top: 10%;
    text-align: center;
    color: #d6d429;
}

.driver-car {
    margin-top: 6%;
}

.driver-info {
    margin: 1%;
    color: #242424;
    background: #d6d429;
    padding: 1%;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.driver-footer {
    background-color: #d6d429;
    color: #242424;
}

.driver-footer a {
    color: #242424;
    text-align: center;
    text-decoration: none;
}

.driver-footer span {
    padding: 12px;
    color: #242424;
}

.driver-footer i {
    color: #242424;
    size: 10px;
}

.driver-footer .btn:hover {
    color: #708f2b;
}

#driver-details {
    display: block;
}

.leaderboard {
    margin-top: 3%;
}

.leaderboard h4 {
    color: #d6d429;
}

.leaderboard table {
    background-color: #242424;
    color: #d6d429;
    font-size: large;
}

#current-driver {
    background-color: #708f2b;
    color: #242424;
}

#driver-gallery {
    display: none;
    margin-top: 5%;
    margin-bottom: 5%;
}

#driver-gallery img {
    width: 100%;
    padding: 5%;
}

#driver-gallery #thumbnail:hover {
    opacity: 0.7;
    cursor: pointer;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: #242424;
}

.modal-header {
    border: none;
}

.modal-content {
    border: none;
    background-color: transparent;
}

.close-btn-modal {
    right: 0;
    font-size: 60px;
    color: #708f2b;
    background-color: transparent;
    border: #242424;
    cursor: pointer;
    position: absolute;
    z-index: 11;
    margin-top: -2%;
    margin-right: 3%;
}

#driver-video {
    display: none;
}

/*--------------------------------------------------------------
    Top drivers cards and drivers overlay cards                                            
-------------------------------------------------------------- */

.card {
    border: none;
}

.card:hover .card-title {
    color: #d6d429;
}

.card-img-top {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.card-body {
    text-align: center;
    box-shadow: 0px 15px 15px -8px rgba(0, 0, 0, 0.5);
    background-color: #708f2b;
}

.card-body h6 {
    font-size: 14px;
    text-transform: uppercase;
    color: #242424;
}

.card-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: #242424;
}

@media (max-width: 800px) {
    .mx-30 {
        margin-bottom: 30px;
    }
}

/*--------------------------------------------------------------
    Tracks
-------------------------------------------------------------- */

.tracks h3 {
    color: #242424;
}

.tracks #next-track {
    margin-top: 5%;
}

.tracks img {
    width: 100%;
}

.tracks-hr {
    display: block;
    border: 1px solid #242424;
    width: 100%;
}

/*--------------------------------------------------------------
    Contact form                                           
-------------------------------------------------------------- */

.contact {
    background-color: #242424;
    margin-bottom: 3%;
}

.contact h1 {
    margin-top: 3%;
    color: #d6d429;
}

#contact-form {
    border-right: 1px #d6d429;
}

#contact-form {
    padding: 5%;
}

#contact-details {
    margin-top: 5%;
    margin-left: 4%;
}

#contact-form, #contact-details {
    color: #708f2b;
}

#contact-details h1, #contact-details i {
    color: #d6d429;
}

#contact-details i {
    font-size: 30px;
}

#contact-details label, #contact-form label {
    font-size: 20px;
}

#contact-map {
    margin-top: 2%;
}

.vertical-line {
    margin-top: 1%;
    border-left: 1px solid #708f2b;
    height: 500px;
}

.alert-warning {
    background-color: #d6d429;
    color: #242424;
    border: none;
}

#contact-alert {
    display: none;
}