.navbar {
    color: #242424;
    background-color: #242424;
}

#logo {
    height: 50px;
}

.navbar-toggler-icon {
    background-image: url("../images/hamburger-icon.png");
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about {
    background-color: #242424;
    color: #d6d429;
}

footer {
    background-color: #242424;
    color: #d6d429;
}